body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #f8f9fa;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

h1,
h2 {
  font-weight: bold;
  color: #333;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  background-color: #ffffff;
}

.form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #333;
  text-align: left;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

.form input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border:dashed 2px #183855;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  width: 20%;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.container-buttons {
  display: flex;
  justify-content: center;
}
.generate-button,
.add-button,
.remove-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.generate-button {
  background-color: #28a745;
  color: #fff;
  margin-right: 10px;
  width: 200px;
}

.increase-button {
  padding: 0.5em 1em;
  background-color: rgb(0, 153, 255);
  font-weight: bold;
  cursor: pointer;
  margin: 0 0.5em;
  color: white;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  border: none;
}
.increase-button:hover {
  background-color: rgb(0, 119, 204);
}

.decrease-button {
  padding: 0.5em 1em;
  background-color: rgb(255, 51, 51);
  font-weight: bold;
  cursor: pointer;
  margin: 0 0.5em;
  color: white;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  border: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.decrease-button:hover {
  background-color: rgb(204, 0, 0);
}

input[type="number"] {
  padding: 0.5em;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  width: 3em;
  margin: 0 0.5em;
}

.container-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reset-button {
  background-color: #cf0216;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
}

.save-button {
  background-color: #189cad;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
  text-align: center;
  text-decoration: none;
}

.excluir {
  
  color: white;
  font-size: 2em;
  background-color: red;
  border-radius: 50%;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px #999;
  border-radius: 20px;
  margin: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.game-title {
  font-weight: bold;
  color: #333;
  font-family: Arial, sans-serif;
  
}

.game:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px #333;
}
.numbers {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px #999;
  border-radius: 20px;
  margin: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  overflow-y: auto;
  max-height: calc(100vh - 40px);
}

.number {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  background-color: #f5a623;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    margin: 20px;
  }

  .form label {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  /* adicionado */
  .numbers {
    overflow-y: auto;
    max-height: calc(100vh - 40px);
  }
}

@media (max-width: 375px) {
  .numbers {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    max-height: calc(100vh - 20px);
  }
}
@media (max-width: 375px) {
  .game {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }

  .game-title {
    font-weight: bold;
    color: #333;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
  }

  .excluir {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 2em;
    background-color: red;
    border-radius: 50%;
  }

  
}

