body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

h1,
h2 {
  font-weight: bold;
  color: #333;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  background-color: #ffffff;
}

.form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #333;
  text-align: left;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

.form input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #dc3545;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  width: 20%;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.container-buttons {
  display: flex;
  justify-content: center;
}
.generate-button,
.add-button,
.remove-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.generate-button {
  background-color: #fcba03;
  color: #fff;
  margin-right: 10px;
  width: 200px;
}

.add-button {
  background-color: #28a745;
  color: #fff;
  margin-right: 10px;
  width: 200px;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
  text-align: center;
  text-decoration: none;
}

.numbers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px #999;
  border-radius: 20px;
  margin: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  overflow-y: auto;
  max-height: calc(100vh - 40px);
  }

.game {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px #999;
  border-radius: 20px;
  margin: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.game:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px #333;
}

.number {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    margin: 20px;
  }

  .form label {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .container-buttons {
    flex-direction: column;
    align-items: center;
  }
}
